.clothes{
    width: 100%;
}
.clothes-image {
    position: relative;
}

.clothes-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
}
.clothes-image-one img, .clothes-image-two img{
    max-width: 570px; 
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 850px;
    object-fit: cover;
}

.clothes-title {
    padding-top: 8px;
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%
}

section {
    padding: 40px 0;
}

.collection-title {
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    letter-spacing: 0.75px;
}


.product {
    max-width: 599px;
    width: 100%;
    padding: 30px 5px;
}
.product-card{
    padding: 0 0 0 24px;
}
.product-img{
    padding: 0 0 0 24px;
}
.product-img .clothes-title{
    max-width: 570px; 
    width: 100%;
    margin: 0 auto;
}

.product-title span a {
    text-decoration: none;
    color: #CECECE;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    letter-spacing: 0.39px;
}

.product-title p a {
    text-decoration: none;
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    letter-spacing: 0.39px;
}

.product-header h3 {
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    letter-spacing: 0.75px;
}


.clothes-title {
    padding-top: 8px;
    padding-left: 8px;
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%
}

.clothes-title a {
    text-decoration: none;
    color: #2D2D2D;
}

.product-card {
    max-width: 472px;
    width: 100%;
}

.product-card>img {
    height: 100%;
}

.product-header-filter {
    display: flex;
    justify-content: space-between;
}

.product-filter select {
    color: #2D2D2D;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.9%;
    padding: 5px;
    border: none;
}

.product-filter option {
    border: none;
    padding: 8px 10px;
    opacity: 0.8;
}

.clothes {
    display: grid;
    place-items: center;
}


.overlay {
    position: absolute;
    top: 25px;
    right: 25px;
}

.overlay a>i {
    font-size: 24px;
}
@media screen and (max-width:1216px) {
    .product-img{
        padding: 0 0 0 24px;
    }
    .product-card {
        margin-bottom: 30px;
    }
    .clothes-image{
        max-width: 570px;
        width: 100%;
        position: relative;
        margin: 0 auto;
    }
    .clothes-image-one img,.clothes-image-two img {
        height: auto;
        max-height: 600px; 
    }

    .product-img .clothes-title {
        max-width: 100%;
        width: 100%;
    }
    .product {
        max-width: 100%; 
        margin-bottom: 30px;
    }
    .overlay {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
}
    
@media screen and (max-width:430px) {
    .overlay {
        top: 1px;
        right: 1px;
    }
    .overlay a>i{
        font-size: 16px;
    }
}
